@model IEnumerable<PPW.Models.Chat>

@{
    ViewData["Title"] = "Create";
}

<link href="~/assets/img/favicon.png" rel="icon">
<link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
<link href="~/assets/css/style.css" rel="stylesheet">

<div class="tab-pane fade show active profile-overview">
    <div class="row p-1" hidden>
        <div class="col-1">ContactId</div>
        <div class="col-5"><p type="text" id="contactIdInput" value="@ViewBag.ContactID">@ViewBag.ContactID</p></div>
    </div>
    <div class="row">
        <div class="text-align: center">
            <br />
            <a asp-action="Menu"  asp-controller= "Chats" asp-route-id="@ViewBag.ID" asp-route-contact="@ViewBag.Contact" class="btn btn-primary">Chat's Menu</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label"><strong>User:</strong></div>
        <div class="col-lg-9 col-md-8"><p type="text" id="userInput" value="@ViewBag.Username">@ViewBag.Username</p></div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label"><strong>Message:</strong></div>
        <div class="row"><input style="width: 1000px;" class="w-300" type="text" id="messageInput" /></div>
    </div>
    <div class="row">
        <div class="text-align: center">
            <br />
            <input class="btn btn-primary" type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul>
                @foreach (var item in Model)
                {
                    if (item.UserId == @ViewBag.ID)
                    {
                        <li><strong> @ViewBag.Username - @item.FecTransac </strong> :  @item.Mensaje </li>
                    }
                    else
                    {
                        <li> <strong> @ViewBag.Contactname - @item.FecTransac </strong> :  @item.Mensaje </li>
                    }
                }
            </ul>
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<div>
    <a asp-action="Return" asp-route-id="@ViewBag.ID">Back to Contacts</a>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
